.wrapper {
  background: #d6d7de;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    background: #3b3a49;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 2px 2px 8px #333;

    .header-content {
      display: flex;
      width: 100%;
      text-align: left;

      .tabs {
        display: inline-block;
        flex: 1;
        position: relative;
        overflow: hidden;

        .icon {
          position: absolute;
          top: 0;
          font-size: 24px;
          cursor: pointer;
          width: 30px;
          height: 58px;
          text-align: center;
          color: #fff;

          &.extension {
            left: 0;
          }

          &.link {
            left: 45px;
          }

          &.setting {
            left: 90px;
          }

          &.active {
            border-bottom: 2px solid #64f8e4;
          }
        }
      }

      .switch {
        width: 50px;
        display: inline-block;
        height: 20px;
        position: relative;
        border-radius: 20px;
        background-color: #fff;
        z-index: 10;
        transition: all 0.5s;
        cursor: pointer;
        margin-top: 20px;

        .icon-i {
          width: 1px;
          height: 10px;
          display: inline-block;
          background: #f5f5f5;
          position: absolute;
          left: 9px;
          top: 5px;
          z-index: 50;
        }

        .icon-o {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: inline-block;
          background: #fff;
          border: 1px solid #ccc;
          position: absolute;
          right: 6px;
          top: 4px;
          z-index: 50;
        }

        .icon-round {
          width: 16px;
          display: block;
          top: 0;
          height: 18px;
          background: #fff;
          border: 1px solid #ccc;
          position: relative;
          border-radius: 50%;
          transition: all 0.5s;
          z-index: 100;

          &.disabled {
            left: 0;
          }

          &.enabled {
            left: 32px;
          }
        }

        &.disabled {
          background: #fff;
        }

        &.enabled {
          background: #3fab7a;
        }
      }
    }
  }

  .main-content {
    width: 420px;
    min-height: 60px;
    margin-top: 60px;
    padding: 10px 0;
    background: #d6d7de;
    box-sizing: border-box;
    overflow: hidden;

    .tree-list {
      height: 100%;
      margin-bottom: 0;
      margin-top: 0;
      overflow: hidden auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background-color: #607d9b;
      }

      &::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 5px;
        background-color: #486f96;
      }
    }

    .shortcut-list {
      margin-bottom: 0;
      margin-top: 0;
      overflow: hidden;
      padding: 15px;

      .list-item {
        display: block;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        float: left;
        width: 25%;

        .item {
          margin: 8px;
          padding: 8px;
          border-radius: 8px;
          text-align: center;
          background: #fff;
          box-shadow: 3px 3px 6px #3b3a49;

          .icon {
            color: #f98168;
            display: block;
            height: 40px;
            line-height: 40px;
            font-size: 32px;
            vertical-align: middle;
          }

          .title {
            display: block;
            margin-top: 8px;
            height: 24px;
            line-height: 24px;
            color: #42b983;
          }

          &.remove {
            .icon {
              font-size: 44px;
              padding-top: 4px;
              box-sizing: border-box;
            }

            .title {
              width: 72px;
            }
          }

          &.download {
            .icon {
              font-size: 28px;
            }
          }

          &.shop {
            .icon {
              font-size: 28px;
            }
          }

          &:hover {
            background: #e5f0fb;
          }
        }
      }
    }
  }
}
