@font-face {
  font-family: "iconfont"; /* Project id 395101 */
  src: url('iconfont.woff2?t=1753185724411') format('woff2'),
       url('iconfont.woff?t=1753185724411') format('woff'),
       url('iconfont.ttf?t=1753185724411') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuqian:before {
  content: "\e620";
}

.icon-msnui-love:before {
  content: "\e629";
}

.icon-xihuan:before {
  content: "\e6f1";
}

.icon-quxiao:before {
  content: "\e609";
}

.icon-zoom:before {
  content: "\e60d";
}

.icon-jia:before {
  content: "\e6cc";
}

.icon-92:before {
  content: "\e65f";
}

.icon-bufenxuanzhong:before {
  content: "\e816";
}

.icon-kaiqi:before {
  content: "\e655";
}

.icon-guanbi:before {
  content: "\e685";
}

.icon-yingyongshangdian:before {
  content: "\e62f";
}

.icon-lishijilu:before {
  content: "\e7d8";
}

.icon-xiazai:before {
  content: "\e60f";
}

.icon-zujianliebiao-:before {
  content: "\e62b";
}

.icon-components:before {
  content: "\e641";
}

.icon-chakan1:before {
  content: "\e619";
}

.icon-shanchu:before {
  content: "\e642";
}

.icon-iconfonticonfontset:before {
  content: "\e638";
}

.icon-kuaijiefangshi:before {
  content: "\e612";
}

.icon-peizhi-copy:before {
  content: "\e602";
}

.icon-ic_share_px:before {
  content: "\e6c0";
}

.icon-shezhi:before {
  content: "\e63b";
}

.icon-quanxian1:before {
  content: "\e6b4";
}

.icon-banbenhao:before {
  content: "\e601";
}

.icon-system-extension:before {
  content: "\e64e";
}

