@use "../../../../assets/style/mixin.scss" as *;

.wrapper {
  position: relative;

  .content {
    margin-left: 200px;
    margin-top: 54px;

    .topbar {
      padding: 15px 0 15px 25px;
      text-align: left;
      cursor: pointer;

      .tag-name {
        color: #4a4a4a;
        font-size: 22px;
        font-weight: 700;
        height: 32px;
        line-height: 32px;
        max-width: 507px;
        padding-right: 6px !important;
        white-space: nowrap;
      }

      .tag-list {
        border-left: #e5e5e5;
        clear: both;
        display: block;
        height: 40px;
        margin-top: 15px 0 0 4px;
        padding: 0;
        white-space: nowrap;
        width: auto;

        .tag-item {
          background: #f1f1f1;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          border-left: #e5e5e5 1px solid;
          border-top: #e5e5e5 1px solid;
          border-bottom: #e5e5e5 1px solid;
          box-sizing: border-box;
          color: #4a4a4a;
          cursor: pointer;
          display: inline-block;
          height: 40px;
          line-height: 40px;
          text-align: left;
          font-size: 12px;
          font-weight: bold;
          padding-left: 35px;
          padding-right: 21px;
          position: relative;
          margin-left: -4px;
          -webkit-transition: all 0.3s;
          width: auto;

          &:first-child {
            padding-left: 26px;
          }

          &::after {
            background: #f1f1f1;
            border-right: #e5e5e5 1px solid;
            border-top: #e5e5e5 1px solid;
            content: "";
            display: block;
            height: 27px;
            margin-top: 0;
            position: absolute;
            right: -14px;
            top: 5px;
            -webkit-transform: rotate(45deg);
            -webkit-transition: all 0.3s;
            width: 27px;
          }

          &.current {
            background-color: #f8f8f8;

            &::after {
              background-color: #f8f8f8;
            }
          }
        }
      }
    }

    .bookmarks-list {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      padding: 0 20px;
      margin-top: 0;
      align-items: flex-start;
    }

    .no-reault {
      font-size: 16px;
    }
  }
} 